@use '../mixins';

.footer {
  &__main {
    border-top: var(--border);
    background-color: var(--color-dark-10);
  }

  &__head {
    padding-block: 120px 100px;

    @include mixins.laptop {
      padding-block: 80px;
    }

    @include mixins.mobile {
      padding-block: 40px;
    }

    &-logo {
      grid-row: span 3;

      @include mixins.tablet {
        grid-row: auto;
      }

      @include mixins.laptop {
        width: 120px;
        height: 120px;
      }

      @include mixins.tablet {
        width: 80px;
        height: 80px;
      }
    }

    &-top {
      display: grid;
      gap: 0 80px;
      align-items: center;
      grid-auto-rows: min-content;
      grid-template-columns: auto 1fr;
      margin-bottom: 100px;

      @include mixins.laptop {
        gap: 0 60px;
        margin-bottom: 50px;
      }

      @include mixins.tablet {
        gap: 0 20px;
      }
    }

    &-texts {
      max-width: 1366px;
    }

    &-subtitle {
      margin-bottom: 16px;

      @include mixins.laptop {
        margin-bottom: 10px;
      }

      @include mixins.tablet {
        align-self: center;
        margin-bottom: 0;
      }
    }

    &-title {
      margin-bottom: 30px;
      font-weight: 500;
      color: var(--color-light);

      @include mixins.laptop {
        margin-bottom: 20px;
      }

      @include mixins.tablet {
        grid-column: span 2;
        margin-top: 20px;
        margin-bottom: 10px;
      }

      @include mixins.mobile {
        margin-bottom: 4px;
      }
    }

    &-descr {
      font-weight: 400;
      color: var(--color-grey-50);

      @include mixins.tablet {
        grid-column: span 2;
      }
    }

    &-bottom {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      border: var(--border);
      border-radius: 12px;
      padding: 20px;
      background-color: var(--color-dark);

      @include mixins.laptop {
        gap: 10px;
        padding: 10px;
      }

      @include mixins.tablet {
        justify-self: center;
        grid-template-columns: repeat(1, 500px);
        width: max-content;
      }

      @include mixins.mobile {
        grid-template-columns: repeat(1, 358px);
      }

      @include mixins.small-mobile {
        grid-template-columns: repeat(1, 300px);
      }
    }

    &-advantages {
      border: var(--border);
      border-radius: 12px;
      padding: 40px;
      background-color: var(--color-dark-10);

      @include mixins.laptop {
        padding: 30px;
      }

      @include mixins.mobile {
        padding: 24px;
      }

      &-top {
        @include mixins.flex-all-between;
        margin-bottom: 20px;

        @include mixins.laptop {
          margin-bottom: 16px;
        }

        @include mixins.mobile {
          margin-bottom: 10px;
        }
      }

      &-title {
        font-weight: 600;
        line-height: 1.5;
        color: var(--color-light);
      }

      &-link {
        @include mixins.flex-all-center;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        background-color: var(--color-accent);

        @include mixins.laptop {
          width: 44px;
          height: 44px;
        }

        @include mixins.mobile {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  &__bottom {
    padding-bottom: 120px;

    @include mixins.laptop {
      padding-bottom: 0;
      background-color: var(--color-dark);
    }
  }

  &__menu {
    @include mixins.flex-justify-between;
    flex-wrap: wrap;
    align-items: start;
    border-bottom: var(--border);
    padding-block: 80px 85px;

    @include mixins.laptop {
      padding-block: 60px 72px;
    }

    @include mixins.tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      row-gap: 40px;
    }

    @include mixins.mobile {
      gap: 30px;
      text-align: start;
      padding-block: 40px;
    }

    &-column {
      @include mixins.flex-column;
      gap: 36px;

      &:last-child {
        @include mixins.tablet {
          grid-column: -1 / 1;

          .footer__nav {
            gap: 12px;
            flex-flow: wrap;
            flex-direction: row;
            justify-content: center;

            @include mixins.mobile {
              justify-content: start;
            }
          }
        }
      }
    }

    &-link {
      font-weight: 500;
      line-height: 1.3;
      color: var(--color-light);
    }
  }

  &__nav {
    @include mixins.flex-column;
    gap: 18px;
    line-height: 1.3;

    &-link {
      font-weight: 400;
      color: var(--color-dark-40);
      transition-duration: var(--transition);

      &:hover {
        color: var(--color-accent);
      }

      &.button {
        border-radius: 8px;
        padding: 10px 16px;
        color: var(--color-grey-60);
      }
    }

    &-badge {
      margin-left: 8px;
      border: 1px solid transparent;
      border-radius: 6px;
      padding: 10px 12px;
      font-size: 16px;
      line-height: 1.5;
      color: var(--color-light);
      background: var(--gradient);

      @include mixins.laptop {
        border-radius: 4px;
        padding: 4px 10px;
        font-size: 12px;
      }
    }
  }

  &__extra {
    border-top: var(--border);

    &-container {
      @include mixins.flex-all-between;
      padding-block: 40px;

      @include mixins.laptop {
        padding-block: 24px;
      }

      @include mixins.small-tablet {
        gap: 20px;
        flex-direction: column;
      }
    }

    &-link {
      font-weight: 400;
      line-height: 1.3;
      color: var(--color-dark-40);
      transition-duration: var(--transition);

      &:hover {
        color: var(--color-accent);
      }

      &:not(:last-child)::after {
        content: '|';
        color: var(--color-dark-15);
        margin-inline: 11px;
      }
    }

    &-soc1als {
      @include mixins.flex-align-center;
      gap: 20px;

      @include mixins.small-tablet {
        order: -1;
      }
    }

    &-soc1al {
      @include mixins.flex-all-center;
      width: 24px;
      height: 24px;

      @include mixins.laptop {
        width: 20px;
        height: 20px;
      }
    }

    &-copyright {
      font-weight: 400;
      line-height: 1.3;
      color: var(--color-dark-40);
    }
  }
}
