<header class="header" data-js-header>
  <div class="header__promo">
    <div class="container">
      <a href="/" class="header__promo-link text-p-default icon icon__yellow-arrow">
        Subscribe to our Newsletter For New & latest Blogs and Resources
      </a>
    </div>
  </div>
  <div class="header__body">
    <div class="header__container container">
      <div class="header__logo">
        <img
          class="header__logo-img"
          src="./assets/icons/logo.svg"
          width="179"
          height="50"
          alt="Future Tech logo"
        />
      </div>

      <div class="header__overlay" data-js-header-overlay>
        <nav class="header__nav text-p-default">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="/" class="header__nav-link" data-js-header-navigation-link>Home</a>
            </li>
            <li class="header__nav-item">
              <a href="/news.html" class="header__nav-link" data-js-header-navigation-link>News</a>
            </li>
            <li class="header__nav-item">
              <a href="/podcasts.html" class="header__nav-link" data-js-header-navigation-link>Podcasts</a>
            </li>
            <li class="header__nav-item">
              <a href="/resources.html" class="header__nav-link" data-js-header-navigation-link>Resources</a>
            </li>
          </ul>
        </nav>

        <a href="/contact.html" class="header__contact text-p-default">Contact Us</a>
      </div>

      <button
        class="header__burger-button"
        aria-label="Open menu"
        title="Open menu"
        data-js-header-burger-button
      >
        <span class="header__burger-button-line"></span>
        <span class="header__burger-button-line"></span>
        <span class="header__burger-button-line"></span>
      </button>
    </div>
  </div>
</header>
