<section class="headlines">
  <div class="headlines__head">
    <div class="headlines__head-container container">
      <h1 class="headlines__title heading-h1">
        Today's Headlines: Stay <span class="headlines__title-hidden">Informed</span>
      </h1>
      <p class="headlines__subtitle heading-h1" aria-hidden="true">Informed</p>
      <p class="headlines__descr text-p-default">
        Explore the latest news from around the world. We bring you up-to-the-minute updates on the
        most significant events, trends, and stories. Discover the world through our news coverage.
      </p>
    </div>
  </div>

  <div class="headlines__article">
    <div class="headlines__article-container container">
      <img
        class="headlines__article-img"
        src="./assets/images/news/global-climate-img.jpg"
        width="515"
        height="427"
        alt="Global climate"
      />
      <div class="headlines__article-text">
        <h4 class="headlines__article-title">
          Global Climate Summit Addresses Urgent Climate Action
        </h4>
        <p class="headlines__article-descr text-p-small">
          World leaders gathered at the Global Climate Summit to discuss urgent climate action,
          emissions reductions, and renewable energy targets.
        </p>
        <div class="headlines__article-meta text-p-default">
          <div class="headlines__article-meta-item">
            <div class="headlines__article-meta-label">Category</div>
            <div class="headlines__article-meta-value">Environment</div>
          </div>
          <div class="headlines__article-meta-item">
            <div class="headlines__article-meta-label">Publication Date</div>
            <div class="headlines__article-meta-value">
              <time datetime="2023-10-10">October 10, 2023</time>
            </div>
          </div>
          <div class="headlines__article-meta-item">
            <div class="headlines__article-meta-label">Author</div>
            <div class="headlines__article-meta-value">Jane Smith</div>
          </div>
        </div>
        <div class="headlines__article-btns">
          <div class="headlines__article-btns-post">
            <div class="headlines__article-btn post-button text-p-default">
              <img src="./assets/icons/heart-grey-icon.svg" alt="Like" />
              <span>14k</span>
            </div>
            <div class="headlines__article-btn post-button text-p-default">
              <img src="./assets/icons/message-grey-icon.svg" alt="Like" />
              <span>204</span>
            </div>
          </div>
          <a href="/" class="headlines__article-link text-p-default button">Read More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="headlines__posts">
    <div class="headlines__posts-container container">
      <!-- post -->
      <div class="headlines__post">
        <img
          class="headlines__post-img"
          src="./assets/images/news/policies-img.jpg"
          alt="Two people help each other"
          width="512"
          height="222"
        />
        <h5 class="headlines__post-title text-p-small">
          A Decisive Victory for Progressive Policies
        </h5>
        <p class="headlines__post-descr text-p-default">Politics</p>
        <div class="headlines__article-btns">
          <div class="headlines__article-btns-post">
            <div class="headlines__article-btn post-button text-p-default">
              <img src="./assets/icons/heart-grey-icon.svg" alt="Like" />
              <span>2.2k</span>
            </div>
            <div class="headlines__article-btn post-button text-p-default">
              <img src="./assets/icons/message-grey-icon.svg" alt="Send" />
              <span>60</span>
            </div>
          </div>
          <a href="/" class="headlines__post-link text-p-default button icon icon__yellow-arrow"
            >Read More</a
          >
        </div>
      </div>
      <!-- post -->
      <div class="headlines__post">
        <img
          class="headlines__post-img"
          src="./assets/images/news/innovations-img.jpg"
          alt="A woman with new technologies"
          width="512"
          height="222"
        />
        <h5 class="headlines__post-title text-p-small">
          Tech Giants Unveil Cutting-Edge AI Innovations
        </h5>
        <p class="headlines__post-descr text-p-default">Technology</p>
        <div class="headlines__article-btns">
          <div class="headlines__article-btns-post">
            <div class="headlines__article-btn post-button text-p-default">
              <img src="./assets/icons/heart-grey-icon.svg" alt="Like" />
              <span>6k</span>
            </div>
            <div class="headlines__article-btn post-button text-p-default">
              <img src="./assets/icons/message-grey-icon.svg" alt="Like" />
              <span>92</span>
            </div>
          </div>
          <a href="/" class="headlines__post-link text-p-default button icon icon__yellow-arrow"
            >Read More</a
          >
        </div>
      </div>
      <!-- post -->
      <div class="headlines__post">
        <img
          class="headlines__post-img"
          src="./assets/images/news/covid-19-img.jpg"
          alt="Doctor holding a bottle with covid-19"
          width="512"
          height="222"
        />
        <h5 class="headlines__post-title text-p-small">COVID-19 Variants</h5>
        <p class="headlines__post-descr text-p-default">Health</p>
        <div class="headlines__article-btns">
          <div class="headlines__article-btns-post">
            <div class="headlines__article-btn post-button text-p-default">
              <img src="./assets/icons/heart-grey-icon.svg" alt="Like" />
              <span>10k</span>
            </div>
            <div class="headlines__article-btn post-button text-p-default">
              <img src="./assets/icons/message-grey-icon.svg" alt="Like" />
              <span>124</span>
            </div>
          </div>
          <a href="/" class="headlines__post-link text-p-default button icon icon__yellow-arrow"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
