<section class="posts">
  <div class="posts__head head-link">
    <div class="head-link-container container">
      <div class="head-link-texts">
        <p class="head-link-subtitle text-p-small text-grey-bg">Welcome to Our News Hub</p>
        <h2 class="head-link-title heading-h4">Discover the World of Headlines</h2>
      </div>
      <a href="/" class="head-link-btn icon icon__yellow-arrow button button--stretched"
        >View All News</a
      >
    </div>
  </div>
  <div class="posts__filter container">
    <!-- Slider main container -->
    <div class="posts__slider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <button
          class="posts__filter-btn is-active text-p-default swiper-slide"
          type="button"
          data-filter="all"
        >
          All
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="technology"
        >
          Technology
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="politics"
        >
          Politics
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="health"
        >
          Health
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="environment"
        >
          Environment
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="sports"
        >
          Sports
        </button>
      </div>
    </div>
  </div>
  <!-- post -->
  <div class="posts__post" data-category="sports technology">
    <div class="posts__post-container container">
      <div class="posts__post-main">
        <div class="posts__post-author">
          <img
            class="posts__post-author-icon"
            src="./assets/images/posts-techson-icon.jpg"
            width="80"
            height="80"
            loading="lazy"
            alt="John Techson"
          />
          <div class="posts__post-author-text">
            <h5 class="posts__post-author-name text-p-small">John Techson</h5>
            <p class="posts__post-author-job text-p-default">Technology</p>
          </div>
        </div>
        <div class="posts__post-info">
          <time class="posts__post-info-date text-p-small" datetime="2023-10-15">
            October 15, 2023
          </time>
          <h5 class="posts__post-info-title">Tech Giants Announce New Product Line</h5>
          <p class="posts__post-info-descr text-p-default">
            Explore the latest innovations from tech industry leaders, unveiling new products that
            promise to transform the digital landscape
          </p>
          <div class="posts__post-info-btns">
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Like button"
              title="Like button"
              data-like-button
            >
              <img src="./assets/icons/heart-red-icon.svg" alt="Heart icon" />
              <span class="posts__post-info-btn-num text-p-default">24.5k</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Comment button"
              title="Comment button"
            >
              <img src="./assets/icons/comment-grey-icon.svg" alt="Comment icon" />
              <span class="posts__post-info-btn-num text-p-default">50</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Send message button"
              title="Send message button"
            >
              <img src="./assets/icons/message-grey-icon.svg" alt="Send icon" />
              <span class="posts__post-info-btn-num text-p-default">20</span>
            </button>
          </div>
        </div>
      </div>
      <a href="/" class="posts__post-link button icon icon__yellow-arrow">View Blog</a>
    </div>
  </div>
  <!-- post -->
  <div class="posts__post" data-category="environment politics">
    <div class="posts__post-container container">
      <div class="posts__post-main">
        <div class="posts__post-author">
          <img
            class="posts__post-author-icon"
            src="./assets/images/posts-sarah-icon.jpg"
            width="80"
            height="80"
            loading="lazy"
            alt="Sarah Ethicist"
          />
          <div class="posts__post-author-text">
            <h5 class="posts__post-author-name text-p-small">Sarah Ethicist</h5>
            <p class="posts__post-author-job text-p-default">Technology</p>
          </div>
        </div>
        <div class="posts__post-info">
          <time class="posts__post-info-date text-p-small" datetime="2023-10-11">
            October 11, 2023
          </time>
          <h5 class="posts__post-info-title">The Future of Autonomous Vehicles</h5>
          <p class="posts__post-info-descr text-p-default">
            An in-depth analysis of the rapid advancements in autonomous vehicle technology and
            their impact on transportation.
          </p>
          <div class="posts__post-info-btns">
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Like button"
              title="Like button"
              data-like-button
            >
              <img src="./assets/icons/heart-grey-icon.svg" alt="Heart icon" />
              <span class="posts__post-info-btn-num text-p-default">32k</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Comment button"
              title="Comment button"
            >
              <img src="./assets/icons/comment-grey-icon.svg" alt="Comment icon" />
              <span class="posts__post-info-btn-num text-p-default">72</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Send message button"
              title="Send message button"
            >
              <img src="./assets/icons/message-grey-icon.svg" alt="Send icon" />
              <span class="posts__post-info-btn-num text-p-default">18</span>
            </button>
          </div>
        </div>
      </div>
      <a href="/" class="posts__post-link button icon icon__yellow-arrow">View Blog</a>
    </div>
  </div>
  <!-- post -->
  <div class="posts__post" data-category="health sports">
    <div class="posts__post-container container">
      <div class="posts__post-main">
        <div class="posts__post-author">
          <img
            class="posts__post-author-icon"
            src="./assets/images/posts-astronomer-icon.jpg"
            width="80"
            height="80"
            loading="lazy"
            alt="Astronomer X"
          />
          <div class="posts__post-author-text">
            <h5 class="posts__post-author-name text-p-small">Astronomer X</h5>
            <p class="posts__post-author-job text-p-default">Technology</p>
          </div>
        </div>
        <div class="posts__post-info">
          <time class="posts__post-info-date text-p-small" datetime="2023-12-10">
            December 10, 2023
          </time>
          <h5 class="posts__post-info-title">Tech Startups Secure Record Funding</h5>
          <p class="posts__post-info-descr text-p-default">
            An overview of the recent surge in funding for tech startups, shaping the
            entrepreneurial landscape.
          </p>
          <div class="posts__post-info-btns">
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Like button"
              title="Like button"
              data-like-button
            >
              <img src="./assets/icons/heart-grey-icon.svg" alt="Heart icon" />
              <span class="posts__post-info-btn-num text-p-default">20k</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Comment button"
              title="Comment button"
            >
              <img src="./assets/icons/comment-grey-icon.svg" alt="Comment icon" />
              <span class="posts__post-info-btn-num text-p-default">31</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Send message button"
              title="Send message button"
            >
              <img src="./assets/icons/message-grey-icon.svg" alt="Send icon" />
              <span class="posts__post-info-btn-num text-p-default">12</span>
            </button>
          </div>
        </div>
      </div>
      <a href="/" class="posts__post-link button icon icon__yellow-arrow">View Blog</a>
    </div>
  </div>
</section>
