@use '../../mixins';

.videos {
  &__head {
    border-top: var(--border);
  }

  &__row {
    &:last-child {
      border-top: var(--border);

      @include mixins.small-tablet {
        border: none;
      }
    }

    &-container {
      @include mixins.flex-justify-center;
      align-items: start;

      @include mixins.small-tablet {
        flex-direction: column;
      }
    }
  }

  &__inner {
    @include mixins.flex-column;

    @include mixins.small-tablet {
      flex-direction: column-reverse;
    }
  }

  &__block {
    padding-block: 80px;

    @include mixins.laptop {
      padding-block: 60px;
    }

    @include mixins.small-tablet {
      border-bottom: var(--border);
      padding-block: 40px;

      &.no-border {
        border-bottom: none;
      }
    }

    &:first-child {
      border-right: var(--border);
      padding-right: 80px;

      @include mixins.laptop {
        padding-right: 50px;
      }

      @include mixins.small-tablet {
        border-right: none;
        padding-right: 0;
      }
    }

    &:last-child {
      padding-left: 80px;

      @include mixins.laptop {
        padding-left: 50px;
      }

      @include mixins.small-tablet {
        padding-left: 0;
      }
    }

    &-content {
      position: relative;
      max-width: fit-content;
    }

    &-wrapper {
      position: relative;
      overflow: hidden;
      max-width: 718px;
      aspect-ratio: 718 / 412;
    }

    &-video {
      position: relative;
      display: block;
      border-radius: 13px;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-click-layer {
        position: absolute;
        inset: 0;
        z-index: var(--z-index-2);
      }
    }

    &-panel {
      @include mixins.flex-justify-between;
      position: absolute;
      inset: 0;
      z-index: var(--z-index-3);
      column-gap: 10px;
      align-items: end;
      padding: 30px;
      transition-duration: var(--transition);

      &:not(.is-active) {
        @include mixins.hide;
      }

      * {
        position: relative;
      }
    }

    &-play-button {
      @include mixins.flex-all-center;
      border: none;
      width: 70px;
      height: 70px;
      color: var(--color-light);
      background-color: transparent;

      @include mixins.laptop {
        width: 50px;
        height: 50px;
      }

      & svg {
        @include mixins.laptop {
          width: 40px;
          height: 40px;
        }
      }
    }

    &-duration {
      color: var(--color-grey-50);
    }

    &-body {
      max-width: 718px;
    }

    &-title {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 600;
      line-height: 1.5;
      color: var(--color-light);

      @include mixins.laptop {
        margin-top: 20px;
        margin-bottom: 6px;
      }
    }
  }
}
