<section class="nums">
  <div class="nums__head">
    <div class="nums__head-container container">
      <h1 class="nums__title heading-h1">
        Unlock a World of <span class="nums__title-hidden">Knowledge</span>
      </h1>
      <p class="nums__subtitle heading-h1" aria-hidden="true">Knowledge</p>
      <p class="nums__descr text-p-default">
        Dive deep into the AI universe with our collection of insightful podcasts. Explore the
        latest trends, breakthroughs, and discussions on artificial intelligence. Whether you're an
        enthusiast or a professional, our AI podcasts offer a gateway to knowledge and innovation.
      </p>
    </div>
  </div>
  <div class="nums__body container">
    <article class="nums__article">
      <h5 class="nums__number">300<span class="nums__number--accent">+</span></h5>
      <p class="nums__descr text-p-default">Resources available</p>
    </article>
    <article class="nums__article">
      <h5 class="nums__number">12k<span class="nums__number--accent">+</span></h5>
      <p class="nums__descr text-p-default">Total Downloads</p>
    </article>
    <article class="nums__article">
      <h5 class="nums__number">10k<span class="nums__number--accent">+</span></h5>
      <p class="nums__descr text-p-default">Active Users</p>
    </article>
    <article class="nums__article">
      <h5 class="nums__number">100<span class="nums__number--accent">+</span></h5>
      <p class="nums__descr text-p-default nums__descr--desktop">Countries Accesses Our Content</p>
      <p class="nums__descr text-p-default nums__descr--mobile">Countries Usability</p>
    </article>
  </div>
</section>
