<section class="reports">
  <div class="reports__head head-link">
    <div class="head-link-container container">
      <div class="head-link-texts">
        <p class="head-link-subtitle text-p-small text-grey-bg">Dive into the Details</p>
        <h2 class="head-link-title heading-h4">In-Depth Reports and Analysis</h2>
      </div>
      <div class="reports__filter text-p-default">
        <button class="reports__filter-btn button is-active" type="button" data-reports-filter="whitepapers">
          Whitepapers
        </button>
        <button class="reports__filter-btn button" type="button" data-reports-filter="ebooks">Ebooks</button>
        <button class="reports__filter-btn button" type="button" data-reports-filter="reports">Reports</button>
      </div>
    </div>
  </div>

  <div class="reports__article" data-category="whitepapers ebooks">
    <div class="reports__article-container container">
      <div class="reports__label">
        <div class="reports__label-icon">
          <svg
            width="64"
            height="64"
            viewBox="0 0 64 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M48 48H16V16L48 48Z" fill="#404040" />
            <path d="M64 0H0L16 16L48 16L48 48L64 64V0Z" fill="#FFD11A" />
          </svg>
        </div>
        <h4 class="reports__label-title heading-h5">Quantum Computing Whitepaper</h4>
        <p class="reports__label-descr text-p-default">
          Provides technical specifications and requirements for implementing quantum computing
          systems.
        </p>
      </div>
      <div class="reports__value">
        <img
          class="reports__value-img"
          src="./assets/images/resources/resources-computing-img.jpg"
          width="917"
          height="332"
          loading="lazy"
          alt="Quantum computing"
        />
        <div class="reports__value-info">
          <div class="reports__value-texts">
            <h5 class="reports__value-title">Quantum Computing Whitepaper</h5>
            <p class="reports__value-descr text-p-default">
              An in-depth whitepaper exploring the principles, applications, and potential impact of
              quantum computing.
            </p>
          </div>
          <a
            href="/"
            class="reports__value-link text-p-default button button--stretched icon icon__yellow-arrow"
            >Download PDF Now</a
          >
        </div>
        <div class="reports__value-meta">
          <div class="reports__value-meta-article">
            <p class="reports__value-meta-title text-p-default">Publication Date</p>
            <p class="reports__value-meta-descr text-p-small">
              <time datetime="2023-07">July 2023</time>
            </p>
          </div>
          <div class="reports__value-meta-article">
            <p class="reports__value-meta-title text-p-default">Category</p>
            <p class="reports__value-meta-descr text-p-small">Quantum Computing</p>
          </div>
          <div class="reports__value-meta-article">
            <p class="reports__value-meta-title text-p-default">Author</p>
            <p class="reports__value-meta-descr text-p-small">Dr. Quantum</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reports__article" data-category="whitepapers reports">
    <div class="reports__article-container container">
      <div class="reports__label">
        <div class="reports__label-icon">
          <svg
            width="64"
            height="64"
            viewBox="0 0 64 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M58.8045 5.1956C66.2991 12.6902 65.5896 25.551 57.2967 33.8439L42.2186 48.9219L15.0781 21.7815L30.1562 6.70341C38.4491 -1.58952 51.3099 -2.29904 58.8045 5.1956Z"
              fill="#FFD11A"
            />
            <path
              d="M27.1405 64L0 36.8595C8.32738 28.5322 21.1537 27.8571 28.6483 35.3517C36.143 42.8464 35.4679 55.6726 27.1405 64Z"
              fill="#404040"
            />
            <path
              d="M55.7889 62.4922L28.6484 35.3517C36.9758 27.0243 49.8021 26.3493 57.2968 33.8439C64.7914 41.3386 64.1163 54.1648 55.7889 62.4922Z"
              fill="#FFD11A"
            />
            <path
              d="M28.6483 35.3517L1.50781 8.21122C9.8352 -0.116158 22.6615 -0.791223 30.1561 6.70342C37.6508 14.1981 36.9757 27.0243 28.6483 35.3517Z"
              fill="#FFD11A"
            />
          </svg>
        </div>
        <h4 class="reports__label-title heading-h5">Space Exploration Whitepaper</h4>
        <p class="reports__label-descr text-p-default">
          Explores Mars colonization, asteroid resource potential, and space tourism.
        </p>
      </div>
      <div class="reports__value">
        <img
          class="reports__value-img"
          src="./assets/images/resources/resources-exploration-img.jpg"
          width="917"
          height="332"
          loading="lazy"
          alt="Space exploration"
        />
        <div class="reports__value-info">
          <div class="reports__value-texts">
            <h5 class="reports__value-title">Space Exploration Whitepaper</h5>
            <p class="reports__value-descr text-p-default">
              An in-depth whitepaper covering the latest advancements in space exploration,
              including Mars missions and asteroid mining.
            </p>
          </div>
          <a
            href="/"
            class="reports__value-link text-p-default button button--stretched icon icon__yellow-arrow"
            >Download PDF Now</a
          >
        </div>
        <div class="reports__value-meta">
          <div class="reports__value-meta-article">
            <p class="reports__value-meta-title text-p-default">Publication Date</p>
            <p class="reports__value-meta-descr text-p-small">
              <time datetime="2023-09">September 2023</time>
            </p>
          </div>
          <div class="reports__value-meta-article">
            <p class="reports__value-meta-title text-p-default">Category</p>
            <p class="reports__value-meta-descr text-p-small">Space Exploration</p>
          </div>
          <div class="reports__value-meta-article">
            <p class="reports__value-meta-title text-p-default">Author</p>
            <p class="reports__value-meta-descr text-p-small">FutureTech Space Division</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reports__articles container">
    <article class="reports__articles-article">
      <img
        class="reports__articles-img"
        src="./assets/images/resources/resources-trends-img.jpg"
        width="471"
        height="290"
        loading="lazy"
        alt="FutureTech Trends 2024"
      />
      <h4 class="reports__articles-title text-p-medium">FutureTech Trends 2024</h4>
      <p class="reports__articles-descr text-p-default">
        An ebook that predicts upcoming technology trends for the next year, including AI
        developments
      </p>
      <div class="reports__articles-btns">
        <a href="" class="reports__articles-btn text-p-default button">View Details</a>
        <a href="" class="reports__articles-btn text-p-default button">Download PDF Now</a>
      </div>
    </article>
    <article class="reports__articles-article">
      <img
        class="reports__articles-img"
        src="./assets/images/resources/resources-ebook-img.jpg"
        width="471"
        height="290"
        loading="lazy"
        alt="Space Exploration Ebook"
      />
      <h4 class="reports__articles-title text-p-medium">Space Exploration Ebook</h4>
      <p class="reports__articles-descr text-p-default">
        An ebook that predicts upcoming technology trends for the next year, including AI
        developments
      </p>
      <div class="reports__articles-btns">
        <a href="" class="reports__articles-btn text-p-default button">View Details</a>
        <a href="" class="reports__articles-btn text-p-default button">Download PDF Now</a>
      </div>
    </article>
    <article class="reports__articles-article">
      <img
        class="reports__articles-img"
        src="./assets/images/resources/resources-whitepapers-img.jpg"
        width="471"
        height="290"
        loading="lazy"
        alt="Quantum Computing Whitepaper"
      />
      <h4 class="reports__articles-title text-p-medium">Quantum Computing Whitepaper</h4>
      <p class="reports__articles-descr text-p-default">
        An in-depth whitepaper exploring the principles, applications.
      </p>
      <div class="reports__articles-btns">
        <a href="" class="reports__articles-btn text-p-default button">View Details</a>
        <a href="" class="reports__articles-btn text-p-default button">Download PDF Now</a>
      </div>
    </article>
  </div>
</section>
