<section class="features">
  <div class="features__head">
    <div class="container">
      <p class="features__head-subtitle text-p-small text-grey-bg">Unlock the Power of</p>
      <h2 class="features__head-title heading-h4">FutureTech Features</h2>
    </div>
  </div>
  <div class="features__blocks">
    <div class="container features__block">
      <article class="features__heading">
        <img
          class="features__heading-icon features__heading-icon--margins"
          src="./assets/icons/home/features-technology-icon.svg"
          width="64"
          height="64"
          loading="lazy"
          alt=""
        />
        <h3 class="features__heading-title heading-h5">Future Technology Blog</h3>
        <p class="features__heading-descr text-p-default">
          Stay informed with our blog section dedicated to future technology.
        </p>
      </article>
      <div class="features__values">
        <article class="features__article">
          <h4 class="features__article-title text-p-large">Quantity</h4>
          <p class="features__article-descr text-p-default">
            Over 1,000 articles on emerging tech trends and breakthroughs.
          </p>
        </article>
        <article class="features__article">
          <h4 class="features__article-title text-p-large">Variety</h4>
          <p class="features__article-descr text-p-default">
            Articles cover fields like AI, robotics, biotechnology, and more.
          </p>
        </article>
        <article class="features__article">
          <h4 class="features__article-title text-p-large">Frequency</h4>
          <p class="features__article-descr text-p-default">
            Fresh content added daily to keep you up to date.
          </p>
        </article>
        <article class="features__article">
          <h4 class="features__article-title text-p-large">Authoritative</h4>
          <p class="features__article-descr text-p-default">
            Written by our team of tech experts and industry professionals.
          </p>
        </article>
      </div>
    </div>
  </div>

  <div class="features__blocks">
    <div class="container features__block">
      <article class="features__heading">
        <img
          class="features__heading-icon"
          src="./assets/icons/home/features-research-icon.svg"
          width="92"
          height="80"
          loading="lazy"
          alt=""
        />
        <h3 class="features__heading-title heading-h5">Research Insights Blogs</h3>
        <p class="features__heading-descr text-p-default">
          Dive deep into future technology concepts with our research section.
        </p>
      </article>
      <div class="features__values">
        <article class="features__article">
          <h4 class="features__article-title text-p-large">Depth</h4>
          <p class="features__article-descr text-p-default">
            500+ research articles for in-depth understanding.
          </p>
        </article>
        <article class="features__article">
          <h4 class="features__article-title text-p-large">Graphics</h4>
          <p class="features__article-descr text-p-default">
            Visual aids and infographics to enhance comprehension.
          </p>
        </article>
        <article class="features__article">
          <h4 class="features__article-title text-p-large">Trends</h4>
          <p class="features__article-descr text-p-default">
            Explore emerging trends in future technology research.
          </p>
        </article>
        <article class="features__article">
          <h4 class="features__article-title text-p-large">Contributors</h4>
          <p class="features__article-descr text-p-default">Contributions from tech researchers and academics.</p>
        </article>
      </div>
    </div>
  </div>
</section>
