<section class="hero">
  <div class="container">
    <div class="hero__top">
      <div class="hero__top-left">
        <div class="hero__top-left-titles">
          <p class="hero__subtitle heading-h6">Your Journey to Tomorrow Begins Here</p>
          <h1 class="hero__title heading-h2">Explore the Frontiers of Artificial Intelligence</h1>
          <p class="hero__descr text-p-default">
            Welcome to the epicenter of AI innovation. FutureTech AI News is your passport to a
            world where machines think, learn, and reshape the future. Join us on this visionary
            expedition into the heart of AI.
          </p>
        </div>
        <div class="hero__top-left-nums">
          <article class="hero__num">
            <p class="hero__num-number heading-h5">
              300<span class="hero__num-number--accent">+</span>
            </p>
            <p class="hero__num-descr text-p-default">Resources available</p>
          </article>
          <article class="hero__num">
            <p class="hero__num-number heading-h5">
              12k<span class="hero__num-number--accent">+</span>
            </p>
            <p class="hero__num-descr text-p-default">Total Downloads</p>
          </article>
          <article class="hero__num">
            <p class="hero__num-number heading-h5">
              10k<span class="hero__num-number--accent">+</span>
            </p>
            <p class="hero__num-descr text-p-default">Active Users</p>
          </article>
        </div>
      </div>
      <div class="hero__top-right">
        <div class="hero__people">
          <img
            class="hero__people-icon"
            src="./assets/images/people-icon-white-man.jpg"
            width="60"
            height="60"
            alt="Man wearing white T-shirt"
          />
          <img
            class="hero__people-icon"
            src="./assets/images/people-icon-yellow-man.jpg"
            width="60"
            height="60"
            alt="Man wearing yellow T-shirt"
          />
          <img
            class="hero__people-icon"
            src="./assets/images/people-icon-white-woman.jpg"
            width="60"
            height="60"
            alt="Woman wearing white T-shirt"
          />
          <img
            class="hero__people-icon"
            src="./assets/images/people-icon-grey-man.jpg"
            width="60"
            height="60"
            alt="Man wearing grey T-shirt"
          />
        </div>
        <p class="hero__explore-title text-p-large">Explore 1000+ resources</p>
        <p class="hero__explore-descr text-p-default">
          Over 1,000 articles on emerging tech trends and breakthroughs.
        </p>
        <a class="hero__explore-link button button--stretched icon icon__yellow-arrow" href="/"
          >Explore Resources</a
        >
      </div>
    </div>
  </div>
  
  <div class="hero__bottom">
    <div class="container hero__bottom-grid">
      <article class="hero__article">
        <img
          class="hero__article-icon"
          src="./assets/icons/home/hero-icon-updates.svg"
          width="50"
          height="50"
          alt=""
        />
        <div class="hero__article-main">
          <div class="hero__article-main-texts">
            <h6 class="hero__article-title text-p-small">Latest News Updates</h6>
            <p class="hero__article-subtitle text-p-default">Stay Current</p>
          </div>
          <a href="/" class="hero__article-link">
            <img src="./assets/icons/black-arrow.svg" width="16" height="16" alt="black arrow" />
          </a>
        </div>
        <p class="hero__article-descr text-p-small">Over 1,000 articles published monthly</p>
      </article>
      <article class="hero__article">
        <img
          class="hero__article-icon"
          src="./assets/icons/home/hero-icon-contributors.svg"
          width="50"
          height="50"
          alt=""
        />
        <div class="hero__article-main">
          <div class="hero__article-main-texts">
            <h6 class="hero__article-title text-p-small">Expert Contributors</h6>
            <p class="hero__article-subtitle text-p-default">Trusted Insights</p>
          </div>
          <a href="/" class="hero__article-link">
            <img src="./assets/icons/black-arrow.svg" width="16" height="16" alt="black arrow" />
          </a>
        </div>
        <p class="hero__article-descr text-p-small">50+ renowned AI experts on our team</p>
      </article>
      <article class="hero__article">
        <img
          class="hero__article-icon"
          src="./assets/icons/home/hero-icon-readership.svg"
          width="50"
          height="50"
          alt=""
        />
        <div class="hero__article-main">
          <div class="hero__article-main-texts">
            <h6 class="hero__article-title text-p-small">Global Readership</h6>
            <p class="hero__article-subtitle text-p-default">Worldwide Impact</p>
          </div>
          <a href="/" class="hero__article-link">
            <img src="./assets/icons/black-arrow.svg" width="16" height="16" alt="black arrow" />
          </a>
        </div>
        <p class="hero__article-descr text-p-small">2 million monthly readers</p>
      </article>
    </div>
  </div>
</section>
