<section class="posts">
  <div class="posts__head">
    <div class="posts__head-container container">
      <div class="posts__head-texts">
        <p class="posts__head-subtitle text-p-small text-grey-bg">Unlock the Power of</p>
        <h2 class="posts__head-title heading-h4">FutureTech Features</h2>
      </div>
      <a href="/" class="posts__head-btn icon icon__yellow-arrow button button--stretched">View All Blogs</a>
    </div>
  </div>
  <div class="posts__filter container">
    <!-- Slider main container -->
    <div class="posts__slider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <button
          class="posts__filter-btn is-active text-p-default swiper-slide"
          type="button"
          data-filter="all"
        >
          All
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="computing"
        >
          Quantum Computing
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="ethics"
        >
          AI Ethics
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="exploration"
        >
          Space Exploration
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="biotechnology"
        >
          Biotechnology
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="energy"
        >
          Renewable Energy
        </button>
      </div>
    </div>
  </div>
  <!-- post -->
  <div class="posts__post" data-category="computing biotechnology">
    <div class="posts__post-container container">
      <div class="posts__post-main">
        <div class="posts__post-author">
          <img
            class="posts__post-author-icon"
            src="./assets/images/posts-people-icon-3.jpg"
            width="80"
            height="80"
            loading="lazy"
            alt="John Techson"
          />
          <div class="posts__post-author-text">
            <h5 class="posts__post-author-name text-p-small">John Techson</h5>
            <p class="posts__post-author-job text-p-default">Quantum Computing</p>
          </div>
        </div>
        <div class="posts__post-info">
          <time class="posts__post-info-date text-p-small" datetime="2023-10-15">
            October 15, 2023
          </time>
          <h5 class="posts__post-info-title">The Quantum Leap in Computing</h5>
          <p class="posts__post-info-descr text-p-default">
            Explore the revolution in quantum computing, its applications, and its potential impact
            on various industries.
          </p>
          <div class="posts__post-info-btns">
            <div class="posts__post-info-btn">
              <svg
                width="20"
                height="18"
                viewBox="0 0 20 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.39497 17.9107L9.38844 17.9072L9.36579 17.8949C9.3465 17.8844 9.31891 17.8693 9.28358 17.8496C9.21292 17.8101 9.11124 17.7524 8.98296 17.6769C8.7265 17.5261 8.36317 17.3039 7.92855 17.015C7.06074 16.4381 5.90122 15.5901 4.7386 14.5063C2.43781 12.3615 0 9.1751 0 5.25C0 2.32194 2.4636 0 5.4375 0C7.18638 0 8.75232 0.799088 9.75 2.0516C10.7477 0.799088 12.3136 0 14.0625 0C17.0364 0 19.5 2.32194 19.5 5.25C19.5 9.1751 17.0622 12.3615 14.7614 14.5063C13.5988 15.5901 12.4393 16.4381 11.5715 17.015C11.1368 17.3039 10.7735 17.5261 10.517 17.6769C10.3888 17.7524 10.2871 17.8101 10.2164 17.8496C10.1811 17.8693 10.1535 17.8844 10.1342 17.8949L10.1116 17.9072L10.105 17.9107L10.1023 17.9121C9.88231 18.0289 9.61769 18.0289 9.39773 17.9121L9.39497 17.9107Z"
                  fill="#FF5500"
                />
              </svg>
              <span class="posts__post-info-btn-num text-p-default">24.5k</span>
            </div>
            <div class="posts__post-info-btn">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.23581 15.9388C6.29657 16.4583 7.48922 16.75 8.75 16.75C13.1683 16.75 16.75 13.1683 16.75 8.75C16.75 4.33172 13.1683 0.75 8.75 0.75C4.33172 0.75 0.75 4.33172 0.75 8.75C0.75 10.3901 1.24356 11.915 2.09026 13.1841M5.23581 15.9388L0.75 16.75L2.09026 13.1841M5.23581 15.9388L5.24231 15.9377M2.09026 13.1841L2.09154 13.1808"
                  stroke="#666666"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="posts__post-info-btn-num text-p-default">50</span>
            </div>
            <div class="posts__post-info-btn">
              <svg
                width="19"
                height="19"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.20271 10.9746L1.33621 8.30799C0.528845 7.94101 0.563291 6.78264 1.39104 6.46428L16.0642 0.820746C16.873 0.509691 17.6676 1.30433 17.3565 2.11307L11.713 16.7863C11.3947 17.614 10.2363 17.6484 9.8693 16.8411L7.20271 10.9746ZM7.20271 10.9746L11.5875 6.58998"
                  stroke="#666666"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="posts__post-info-btn-num text-p-default">20</span>
            </div>
          </div>
        </div>
      </div>
      <a href="/" class="posts__post-link button icon icon__yellow-arrow">View Blog</a>
    </div>
  </div>
  <!-- post -->
  <div class="posts__post" data-category="exploration energy">
    <div class="posts__post-container container">
      <div class="posts__post-main">
        <div class="posts__post-author">
          <img
            class="posts__post-author-icon"
            src="./assets/images/posts-people-icon-2.jpg"
            width="80"
            height="80"
            loading="lazy"
            alt="Sarah Ethicist"
          />
          <div class="posts__post-author-text">
            <h5 class="posts__post-author-name text-p-small">Sarah Ethicist</h5>
            <p class="posts__post-author-job text-p-default">AI Ethics</p>
          </div>
        </div>
        <div class="posts__post-info">
          <time class="posts__post-info-date text-p-small" datetime="2023-11-5">
            November 5, 2023
          </time>
          <h5 class="posts__post-info-title">The Ethical Dilemmas of AI</h5>
          <p class="posts__post-info-descr text-p-default">
            A deep dive into ethical challenges posed by AI, including bias, privacy, and
            transparency.
          </p>
          <div class="posts__post-info-btns">
            <div class="posts__post-info-btn">
              <svg
                width="21"
                height="20"
                viewBox="0 0 21 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.145 18.6607L10.1384 18.6571L10.1158 18.6449C10.0965 18.6344 10.0689 18.6193 10.0336 18.5996C9.96292 18.5601 9.86124 18.5024 9.73296 18.4269C9.4765 18.2761 9.11317 18.0539 8.67855 17.765C7.81074 17.1881 6.65122 16.3401 5.4886 15.2563C3.18781 13.1115 0.75 9.9251 0.75 6C0.75 3.07194 3.2136 0.75 6.1875 0.75C7.93638 0.75 9.50232 1.54909 10.5 2.8016C11.4977 1.54909 13.0636 0.75 14.8125 0.75C17.7864 0.75 20.25 3.07194 20.25 6C20.25 9.9251 17.8122 13.1115 15.5114 15.2563C14.3488 16.3401 13.1893 17.1881 12.3215 17.765C11.8868 18.0539 11.5235 18.2761 11.267 18.4269C11.1388 18.5024 11.0371 18.5601 10.9664 18.5996C10.9311 18.6193 10.9035 18.6344 10.8842 18.6449L10.8616 18.6571L10.855 18.6607L10.8523 18.6621C10.6323 18.7789 10.3677 18.7789 10.1477 18.6621L10.145 18.6607Z"
                  stroke="#666666"
                  stroke-width="1.5"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="posts__post-info-btn-num text-p-default">32k</span>
            </div>
            <div class="posts__post-info-btn">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.23581 15.9388C6.29657 16.4583 7.48922 16.75 8.75 16.75C13.1683 16.75 16.75 13.1683 16.75 8.75C16.75 4.33172 13.1683 0.75 8.75 0.75C4.33172 0.75 0.75 4.33172 0.75 8.75C0.75 10.3901 1.24356 11.915 2.09026 13.1841M5.23581 15.9388L0.75 16.75L2.09026 13.1841M5.23581 15.9388L5.24231 15.9377M2.09026 13.1841L2.09154 13.1808"
                  stroke="#666666"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="posts__post-info-btn-num text-p-default">72</span>
            </div>
            <div class="posts__post-info-btn">
              <svg
                width="19"
                height="19"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.20271 10.9746L1.33621 8.30799C0.528845 7.94101 0.563291 6.78264 1.39104 6.46428L16.0642 0.820746C16.873 0.509691 17.6676 1.30433 17.3565 2.11307L11.713 16.7863C11.3947 17.614 10.2363 17.6484 9.8693 16.8411L7.20271 10.9746ZM7.20271 10.9746L11.5875 6.58998"
                  stroke="#666666"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="posts__post-info-btn-num text-p-default">18</span>
            </div>
          </div>
        </div>
      </div>
      <a href="/" class="posts__post-link button icon icon__yellow-arrow">View Blog</a>
    </div>
  </div>
  <!-- post -->
  <div class="posts__post" data-category="ethics biotechnology">
    <div class="posts__post-container container">
      <div class="posts__post-main">
        <div class="posts__post-author">
          <img
            class="posts__post-author-icon"
            src="./assets/images/posts-people-icon-1.jpg"
            width="80"
            height="80"
            loading="lazy"
            alt="Astronomer X"
          />
          <div class="posts__post-author-text">
            <h5 class="posts__post-author-name text-p-small">Astronomer X</h5>
            <p class="posts__post-author-job text-p-default">Space Exploration</p>
          </div>
        </div>
        <div class="posts__post-info">
          <time class="posts__post-info-date text-p-small" datetime="2023-12-10">
            December 10, 2023
          </time>
          <h5 class="posts__post-info-title">The Mars Colonization Challenge</h5>
          <p class="posts__post-info-descr text-p-default">
            Exploring the technical and logistical challenges of human colonization on Mars.
          </p>
          <div class="posts__post-info-btns">
            <div class="posts__post-info-btn">
              <svg
                width="21"
                height="20"
                viewBox="0 0 21 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.145 18.6607L10.1384 18.6571L10.1158 18.6449C10.0965 18.6344 10.0689 18.6193 10.0336 18.5996C9.96292 18.5601 9.86124 18.5024 9.73296 18.4269C9.4765 18.2761 9.11317 18.0539 8.67855 17.765C7.81074 17.1881 6.65122 16.3401 5.4886 15.2563C3.18781 13.1115 0.75 9.9251 0.75 6C0.75 3.07194 3.2136 0.75 6.1875 0.75C7.93638 0.75 9.50232 1.54909 10.5 2.8016C11.4977 1.54909 13.0636 0.75 14.8125 0.75C17.7864 0.75 20.25 3.07194 20.25 6C20.25 9.9251 17.8122 13.1115 15.5114 15.2563C14.3488 16.3401 13.1893 17.1881 12.3215 17.765C11.8868 18.0539 11.5235 18.2761 11.267 18.4269C11.1388 18.5024 11.0371 18.5601 10.9664 18.5996C10.9311 18.6193 10.9035 18.6344 10.8842 18.6449L10.8616 18.6571L10.855 18.6607L10.8523 18.6621C10.6323 18.7789 10.3677 18.7789 10.1477 18.6621L10.145 18.6607Z"
                  stroke="#666666"
                  stroke-width="1.5"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="posts__post-info-btn-num text-p-default">20k</span>
            </div>
            <div class="posts__post-info-btn">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.23581 15.9388C6.29657 16.4583 7.48922 16.75 8.75 16.75C13.1683 16.75 16.75 13.1683 16.75 8.75C16.75 4.33172 13.1683 0.75 8.75 0.75C4.33172 0.75 0.75 4.33172 0.75 8.75C0.75 10.3901 1.24356 11.915 2.09026 13.1841M5.23581 15.9388L0.75 16.75L2.09026 13.1841M5.23581 15.9388L5.24231 15.9377M2.09026 13.1841L2.09154 13.1808"
                  stroke="#666666"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="posts__post-info-btn-num text-p-default">31</span>
            </div>
            <div class="posts__post-info-btn">
              <svg
                width="19"
                height="19"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.20271 10.9746L1.33621 8.30799C0.528845 7.94101 0.563291 6.78264 1.39104 6.46428L16.0642 0.820746C16.873 0.509691 17.6676 1.30433 17.3565 2.11307L11.713 16.7863C11.3947 17.614 10.2363 17.6484 9.8693 16.8411L7.20271 10.9746ZM7.20271 10.9746L11.5875 6.58998"
                  stroke="#666666"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="posts__post-info-btn-num text-p-default">12</span>
            </div>
          </div>
        </div>
      </div>
      <a href="/" class="posts__post-link button icon icon__yellow-arrow">View Blog</a>
    </div>
  </div>
</section>
