<section class="posts">
  <div class="posts__head head-link">
    <div class="head-link-container container">
      <div class="head-link-texts">
        <p class="head-link-subtitle text-p-small text-grey-bg">Unlock the Power of</p>
        <h2 class="head-link-title heading-h4">FutureTech Features</h2>
      </div>
      <a href="/" class="head-link-btn icon icon__yellow-arrow button button--stretched"
        >View All Blogs</a
      >
    </div>
  </div>
  <div class="posts__filter container">
    <!-- Slider main container -->
    <div class="posts__slider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <button
          class="posts__filter-btn is-active text-p-default swiper-slide"
          type="button"
          data-filter="all"
        >
          All
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="computing"
        >
          Quantum Computing
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="ethics"
        >
          AI Ethics
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="exploration"
        >
          Space Exploration
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="biotechnology"
        >
          Biotechnology
        </button>
        <button
          class="posts__filter-btn text-p-default swiper-slide"
          type="button"
          data-filter="energy"
        >
          Renewable Energy
        </button>
      </div>
    </div>
  </div>
  <!-- post -->
  <div class="posts__post" data-category="computing biotechnology">
    <div class="posts__post-container container">
      <div class="posts__post-main">
        <div class="posts__post-author">
          <img
            class="posts__post-author-icon"
            src="./assets/images/posts-john-icon.jpg"
            width="80"
            height="80"
            loading="lazy"
            alt="John Techson"
          />
          <div class="posts__post-author-text">
            <h5 class="posts__post-author-name text-p-small">John Techson</h5>
            <p class="posts__post-author-job text-p-default">Quantum Computing</p>
          </div>
        </div>
        <div class="posts__post-info">
          <time class="posts__post-info-date text-p-small" datetime="2023-10-15">
            October 15, 2023
          </time>
          <h5 class="posts__post-info-title">The Quantum Leap in Computing</h5>
          <p class="posts__post-info-descr text-p-default">
            Explore the revolution in quantum computing, its applications, and its potential impact
            on various industries.
          </p>
          <div class="posts__post-info-btns">
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Like button"
              title="Like button"
              data-like-button
            >
              <img src="./assets/icons/heart-red-icon.svg" alt="Heart icon" />
              <span class="posts__post-info-btn-num text-p-default">24.5k</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Comment button"
              title="Comment button"
            >
              <img src="./assets/icons/comment-grey-icon.svg" alt="Comment icon" />
              <span class="posts__post-info-btn-num text-p-default">50</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Send message button"
              title="Send message button"
            >
              <img src="./assets/icons/message-grey-icon.svg" alt="Send icon" />
              <span class="posts__post-info-btn-num text-p-default">20</span>
            </button>
          </div>
        </div>
      </div>
      <a href="/" class="posts__post-link button icon icon__yellow-arrow">View Blog</a>
    </div>
  </div>
  <!-- post -->
  <div class="posts__post" data-category="exploration energy">
    <div class="posts__post-container container">
      <div class="posts__post-main">
        <div class="posts__post-author">
          <img
            class="posts__post-author-icon"
            src="./assets/images/posts-sarah-icon.jpg"
            width="80"
            height="80"
            loading="lazy"
            alt="Sarah Ethicist"
          />
          <div class="posts__post-author-text">
            <h5 class="posts__post-author-name text-p-small">Sarah Ethicist</h5>
            <p class="posts__post-author-job text-p-default">AI Ethics</p>
          </div>
        </div>
        <div class="posts__post-info">
          <time class="posts__post-info-date text-p-small" datetime="2023-11-5">
            November 5, 2023
          </time>
          <h5 class="posts__post-info-title">The Ethical Dilemmas of AI</h5>
          <p class="posts__post-info-descr text-p-default">
            A deep dive into ethical challenges posed by AI, including bias, privacy, and
            transparency.
          </p>
          <div class="posts__post-info-btns">
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Like button"
              title="Like button"
              data-like-button
            >
              <img src="./assets/icons/heart-grey-icon.svg" alt="Heart icon" />
              <span class="posts__post-info-btn-num text-p-default">32k</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Comment button"
              title="Comment button"
            >
              <img src="./assets/icons/comment-grey-icon.svg" alt="Comment icon" />
              <span class="posts__post-info-btn-num text-p-default">72</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Send message button"
              title="Send message button"
            >
              <img src="./assets/icons/message-grey-icon.svg" alt="Send icon" />
              <span class="posts__post-info-btn-num text-p-default">18</span>
            </button>
          </div>
        </div>
      </div>
      <a href="/" class="posts__post-link button icon icon__yellow-arrow">View Blog</a>
    </div>
  </div>
  <!-- post -->
  <div class="posts__post" data-category="ethics biotechnology">
    <div class="posts__post-container container">
      <div class="posts__post-main">
        <div class="posts__post-author">
          <img
            class="posts__post-author-icon"
            src="./assets/images/posts-astronomer-icon.jpg"
            width="80"
            height="80"
            loading="lazy"
            alt="Astronomer X"
          />
          <div class="posts__post-author-text">
            <h5 class="posts__post-author-name text-p-small">Astronomer X</h5>
            <p class="posts__post-author-job text-p-default">Space Exploration</p>
          </div>
        </div>
        <div class="posts__post-info">
          <time class="posts__post-info-date text-p-small" datetime="2023-12-10">
            December 10, 2023
          </time>
          <h5 class="posts__post-info-title">The Mars Colonization Challenge</h5>
          <p class="posts__post-info-descr text-p-default">
            Exploring the technical and logistical challenges of human colonization on Mars.
          </p>
          <div class="posts__post-info-btns">
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Like button"
              title="Like button"
              data-like-button
            >
              <img src="./assets/icons/heart-grey-icon.svg" alt="Heart icon" />
              <span class="posts__post-info-btn-num text-p-default">20k</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Comment button"
              title="Comment button"
            >
              <img src="./assets/icons/comment-grey-icon.svg" alt="Comment icon" />
              <span class="posts__post-info-btn-num text-p-default">31</span>
            </button>
            <button
              class="posts__post-info-btn"
              type="button"
              aria-label="Send message button"
              title="Send message button"
            >
              <img src="./assets/icons/message-grey-icon.svg" alt="Send icon" />
              <span class="posts__post-info-btn-num text-p-default">12</span>
            </button>
          </div>
        </div>
      </div>
      <a href="/" class="posts__post-link button icon icon__yellow-arrow">View Blog</a>
    </div>
  </div>
</section>
