<section class="readers">
  <div class="readers__head head-link">
    <div class="head-link-container container">
      <div class="head-link-texts">
        <p class="head-link-subtitle text-p-small text-grey-bg">What Our Readers Say</p>
        <h2 class="head-link-title heading-h4">Real Words from Real Readers</h2>
      </div>
      <a href="/" class="head-link-btn icon icon__yellow-arrow button button--stretched">
        View All Testimonials
      </a>
    </div>
  </div>

  <div class="readers__main">
    <!-- row -->
    <div class="readers__row">
      <div class="container readers__row-container">
        <!-- article -->
        <article class="readers__article">
          <div class="readers__article-author">
            <img
              class="readers__article-author-img"
              src="./assets/images/home/thompson-icon.jpg"
              width="60"
              height="60"
              loading="lazy"
              alt="Sarah Thompson"
            />
            <div class="readers__article-author-texts">
              <h5 class="readers__article-author-name text-p-small">Sarah Thompson</h5>
              <p class="readers__article-author-city text-p-default">San Francisco, USA</p>
            </div>
          </div>
          <div class="readers__article-comment text-p-default">
            The ebooks on AI in education have been a game-changer for my research. They provide
            in-depth insights and case studies that are invaluable for staying updated.
            <div class="readers__article-stars">
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
            </div>
          </div>
        </article>
        <!-- article -->
        <article class="readers__article">
          <div class="readers__article-author">
            <img
              class="readers__article-author-img"
              src="./assets/images/home/patel-icon.jpg"
              width="60"
              height="60"
              loading="lazy"
              alt="Raj Patel"
            />
            <div class="readers__article-author-texts">
              <h5 class="readers__article-author-name text-p-small">Raj Patel</h5>
              <p class="readers__article-author-city text-p-default">Mumbai, India</p>
            </div>
          </div>
          <div class="readers__article-comment text-p-default">
            The whitepapers on renewable energy strategies have greatly influenced my work. They
            offer detailed data and analysis, helping me make informed decisions.
            <div class="readers__article-stars">
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
            </div>
          </div>
        </article>
        <!-- article -->
        <article class="readers__article">
          <div class="readers__article-author">
            <img
              class="readers__article-author-img"
              src="./assets/images/home/adams-icon.jpg"
              width="60"
              height="60"
              loading="lazy"
              alt="Emily Adams"
            />
            <div class="readers__article-author-texts">
              <h5 class="readers__article-author-name text-p-small">Emily Adams</h5>
              <p class="readers__article-author-city text-p-default">London, UK</p>
            </div>
          </div>
          <div class="readers__article-comment text-p-default">
            The AI in healthcare reports have been an essential resource for our hospital. They
            highlight the latest innovations and best practices, improving patient care.
            <div class="readers__article-stars">
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
            </div>
          </div>
        </article>
      </div>
    </div>
    <!-- row -->
    <div class="readers__row">
      <div class="container readers__row-container">
        <!-- article -->
        <article class="readers__article">
          <div class="readers__article-author">
            <img
              class="readers__article-author-img"
              src="./assets/images/home/jackson-icon.jpg"
              width="60"
              height="60"
              loading="lazy"
              alt="Alan Jackson"
            />
            <div class="readers__article-author-texts">
              <h5 class="readers__article-author-name text-p-small">Alan Jackson</h5>
              <p class="readers__article-author-city text-p-default">Houston, USA</p>
            </div>
          </div>
          <div class="readers__article-comment text-p-default">
            The reports on space mining prospects have fueled my passion for space exploration. They
            provide a comprehensive view of what lies beyond Earth.
            <div class="readers__article-stars">
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
            </div>
          </div>
        </article>
        <!-- article -->
        <article class="readers__article">
          <div class="readers__article-author">
            <img
              class="readers__article-author-img"
              src="./assets/images/home/miller-icon.jpg"
              width="60"
              height="60"
              loading="lazy"
              alt="Jessica Miller"
            />
            <div class="readers__article-author-texts">
              <h5 class="readers__article-author-name text-p-small">Jessica Miller</h5>
              <p class="readers__article-author-city text-p-default">Boston, USA</p>
            </div>
          </div>
          <div class="readers__article-comment text-p-default">
            The research papers on genomic breakthroughs have been a goldmine of information.
            They've shaped the direction of my research in genomics.
            <div class="readers__article-stars">
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
            </div>
          </div>
        </article>
        <!-- article -->
        <article class="readers__article">
          <div class="readers__article-author">
            <img
              class="readers__article-author-img"
              src="./assets/images/home/lopez-icon.jpg"
              width="60"
              height="60"
              loading="lazy"
              alt="Diego Lopez"
            />
            <div class="readers__article-author-texts">
              <h5 class="readers__article-author-name text-p-small">Diego Lopez</h5>
              <p class="readers__article-author-city text-p-default">Barcelona, Spain</p>
            </div>
          </div>
          <div class="readers__article-comment text-p-default">
            The ebooks on renewable energy strategies have given me the insights I needed to pivot
            our startup toward sustainability.
            <div class="readers__article-stars">
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
              <img
                class="readers__article-star"
                src="./assets/icons/star-icon.svg"
                width="24"
                height="24"
                loading="lazy"
                alt="Star"
              />
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
