<section class="resources">
  <div class="resources__head head-link">
    <div class="head-link-container container">
      <div class="head-link-texts">
        <p class="head-link-subtitle text-p-small text-grey-bg">
          Your Gateway to In-Depth Information
        </p>
        <h2 class="head-link-title heading-h4">
          Unlock Valuable Knowledge with FutureTech's Resources
        </h2>
      </div>
      <a href="/" class="head-link-btn icon icon__yellow-arrow button button--stretched"
        >View All Resources</a
      >
    </div>
  </div>
  <div class="resources__main">
    <div class="container resources__main-container">
      <div class="resources__name">
        <div class="resources__name-icon">
          <svg
            width="60"
            height="64"
            viewBox="0 0 60 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M28 38C28 26.4899 61.5265 6.00135 59.9458 13.6794C56.6426 29.7247 56.6426 46.2753 59.9458 62.3206C61.5265 69.9986 28 49.5101 28 38Z"
              fill="#FFD11A"
            />
            <path
              d="M32 26C32 37.5101 -1.52648 57.9986 0.054184 50.3206C3.35742 34.2753 3.35742 17.7247 0.054184 1.67936C-1.52647 -5.99864 32 14.4899 32 26Z"
              fill="#404040"
            />
          </svg>
        </div>
        <h3 class="resources__name-title heading-h5">Ebooks</h3>
        <p class="resources__name-descr text-p-small">
          Explore our collection of ebooks covering a wide spectrum of future technology topics.
        </p>
        <a
          href="/"
          class="resources__name-link button button--light-stretched icon icon__yellow-arrow text-p-default"
        >
          Download Ebooks Now
        </a>
        <div class="resources__name-users">
          <div class="resources__name-users-texts">
            <p class="resources__name-users-subtitle text-p-default">Downloaded By</p>
            <h5 class="resources__name-users-title text-p-large">10k + Users</h5>
          </div>
          <div class="resources__name-users-people">
            <img
              class="resources__name-users-people-icon"
              src="./assets/images/people-icon-white-man.jpg"
              width="50"
              height="50"
              alt="Man wearing white T-shirt"
            />
            <img
              class="resources__name-users-people-icon"
              src="./assets/images/people-icon-yellow-man.jpg"
              width="50"
              height="50"
              alt="Man wearing yellow T-shirt"
            />
            <img
              class="resources__name-users-people-icon"
              src="./assets/images/people-icon-white-woman.jpg"
              width="50"
              height="50"
              alt="Woman wearing white T-shirt"
            />
            <img
              class="resources__name-users-people-icon"
              src="./assets/images/people-icon-grey-man.jpg"
              width="50"
              height="50"
              alt="Man wearing grey T-shirt"
            />
          </div>
        </div>
      </div>
      <div class="resources__info">
        <div class="resources__info-text">
          <h5 class="resources__info-title text-p-large">Variety of Topics</h5>
          <p class="resources__info-descr text-p-default">
            Topics include AI in education (25%), renewable energy (20%), healthcare (15%), space
            exploration (25%), and biotechnology (15%).
          </p>
        </div>
        <img
          class="resources__info-img"
          src="./assets/images/home/ebooks-img.jpg"
          width="917"
          height="332"
          loading="lazy"
          alt="A woman in VR"
        />

        <div class="resources__info-articles">
          <div class="resources__info-article">
            <p class="resources__info-article-subtitle text-p-default">Total Ebooks</p>
            <h6 class="resources__info-article-title text-p-small">Over 100 ebooks</h6>
          </div>

          <div class="resources__info-article resources__info-article--link">
            <div class="resources__info-article-texts">
              <p class="resources__info-article-subtitle text-p-default">Download Formats</p>
              <h6 class="resources__info-article-title text-p-small">PDF format for access.</h6>
            </div>
            <a
              href=""
              class="resources__info-article-link button icon icon__yellow-eye text-p-default"
              >Preview</a
            >
          </div>

          <div class="resources__info-article">
            <p class="resources__info-article-subtitle text-p-default">Average Author Expertise</p>
            <h6 class="resources__info-article-title text-p-small">
              Ebooks are authored by renowned experts with an average of 15 years of experience
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="resources__main">
    <div class="container resources__main-container">
      <div class="resources__name">
        <div class="resources__name-icon">
          <svg
            width="56"
            height="64"
            viewBox="0 0 56 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M28 0V64L0 48V16L28 0Z" fill="#FFD11A" />
            <path d="M56 0V64L28 48V16L56 0Z" fill="#404040" />
          </svg>
        </div>
        <h3 class="resources__name-title heading-h5">Whitepapers</h3>
        <p class="resources__name-descr text-p-small">
          Dive into comprehensive reports and analyses with our collection of whitepapers. 
        </p>
        <a
          href="/"
          class="resources__name-link button button--light-stretched icon icon__yellow-arrow text-p-default"
        >
          Download Whitepapers Now
        </a>
        <div class="resources__name-users">
          <div class="resources__name-users-texts">
            <p class="resources__name-users-subtitle text-p-default">Downloaded By</p>
            <h5 class="resources__name-users-title text-p-large">10k + Users</h5>
          </div>
          <div class="resources__name-users-people">
            <img
              class="resources__name-users-people-icon"
              src="./assets/images/people-icon-blue-woman.jpg"
              width="50"
              height="50"
              alt="Woman wearing blue T-shirt"
            />
            <img
              class="resources__name-users-people-icon"
              src="./assets/images/people-icon-black-man.jpg"
              width="50"
              height="50"
              alt="Man wearing black T-shirt"
            />
            <img
              class="resources__name-users-people-icon"
              src="./assets/images/people-icon-green-man.jpg"
              width="50"
              height="50"
              alt="Man wearing green T-shirt"
            />
            <img
              class="resources__name-users-people-icon"
              src="./assets/images/people-icon-pink-woman.jpg"
              width="50"
              height="50"
              alt="Woman wearing pink T-shirt"
            />
          </div>
        </div>
      </div>
      <div class="resources__info">
        <div class="resources__info-text">
          <h5 class="resources__info-title text-p-large">Topics Coverage</h5>
          <p class="resources__info-descr text-p-default">
            Whitepapers cover quantum computing (20%), AI ethics (15%), space mining prospects (20%), AI in healthcare (15%), and renewable energy strategies (30%).
          </p>
        </div>
        <img
          class="resources__info-img"
          src="./assets/images/home/whitepapers-img.jpg"
          width="917"
          height="332"
          loading="lazy"
          alt="A woman in VR"
        />

        <div class="resources__info-articles">
          <div class="resources__info-article">
            <p class="resources__info-article-subtitle text-p-default">Total Whitepapers</p>
            <h6 class="resources__info-article-title text-p-small">Over 50 whitepapers</h6>
          </div>

          <div class="resources__info-article resources__info-article--link">
            <div class="resources__info-article-texts">
              <p class="resources__info-article-subtitle text-p-default">Download Formats</p>
              <h6 class="resources__info-article-title text-p-small">PDF format for access.</h6>
            </div>
            <a
              href=""
              class="resources__info-article-link button icon icon__yellow-eye text-p-default"
              >Preview</a
            >
          </div>

          <div class="resources__info-article">
            <p class="resources__info-article-subtitle text-p-default">Average Author Expertise</p>
            <h6 class="resources__info-article-title text-p-small">
              Whitepapers are authored by subject matter experts with an average of 20 years of experience.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
