@use '../../mixins';

.reports {
  &__head {
    border-top: var(--border);
  }

  &__filter {
    @include mixins.flex-all-center;
    gap: 10px;
    border: var(--border);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color-dark);

    &-btn {
      border-radius: 8px;
      padding: 18px 38px;
      color: var(--color-grey-60);

      @include mixins.laptop {
        padding: 14px 24px;
      }

      @include mixins.mobile {
        width: 106px;

        &:first-child {
          padding: 14px 5px;
        }
      }

      &.is-active {
        color: var(--color-light);
        background-color: var(--color-dark-15);
      }
    }
  }

  &__article {
    border-bottom: var(--border);

    &-container {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr;

      @include mixins.tablet {
        grid-template-columns: auto;
      }
    }

    &.hidden {
      display: none;
    }
  }

  &__label {
    padding-right: 80px;
    width: 600px;
    padding-block: 80px;

    @include mixins.laptop {
      padding-right: 60px;
      width: 470px;
      padding-block: 60px;
    }

    @include mixins.small-laptop {
      width: 400px;
    }

    @include mixins.tablet {
      border-bottom: var(--border);
      padding-right: 0;
      width: 100%;
    }

    @include mixins.mobile {
      padding-block: 40px;
    }

    &-icon {
      @include mixins.flex-all-center;
      margin-bottom: 50px;
      width: 80px;
      height: 80px;

      @include mixins.laptop {
        margin-bottom: 40px;
        width: 60px;
        height: 60px;

        & svg {
          width: 48px;
          height: 48px;
        }
      }

      @include mixins.mobile {
        margin-bottom: 30px;
        width: 50px;
        height: 50px;

        & svg {
          width: 40px;
          height: 40px;
        }
      }
    }

    &-title {
      margin-bottom: 30px;
      font-weight: 600;
      color: var(--color-light);

      @include mixins.laptop {
        margin-bottom: 20px;
      }

      @include mixins.mobile {
        margin-bottom: 10px;
      }
    }
  }

  &__value {
    border-left: var(--border);
    padding-left: 80px;
    padding-block: 80px;

    @include mixins.laptop {
      padding-left: 60px;
      padding-block: 60px;
    }

    @include mixins.tablet {
      border-left: none;
      padding-left: 0;
    }

    @include mixins.mobile {
      padding-block: 40px;
    }

    &-img {
      border-radius: 13px;
    }

    &-info {
      @include mixins.flex-all-between;
      gap: 30px;
      margin-top: 30px;
      margin-bottom: 50px;

      @include mixins.laptop {
        gap: 20px;
        margin-top: 24px;
        margin-bottom: 40px;
      }

      @include mixins.mobile {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }

    &-title {
      margin-bottom: 14px;
      font-weight: 600;
      font-size: 26px;
      line-height: 1.5;
      color: var(--color-light);

      @include mixins.laptop {
        margin-bottom: 10px;
        font-size: 20px;
      }

      @include mixins.mobile {
        margin-bottom: 6px;
        font-size: 18px;
      }
    }

    &-link {
      flex-shrink: 0;
      background-color: var(--color-dark-10);
    }

    &-meta {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);

      @include mixins.laptop {
        gap: 16px;
      }

      @include mixins.mobile {
        gap: 10px;
      }

      @include mixins.tablet {
        grid-template-columns: 1fr 1fr;
      }

      &-article {
        border: var(--border);
        border-radius: 13px;
        padding: 30px;
        background-color: var(--color-dark-10);

        @include mixins.laptop {
          border-radius: 8px;
          padding: 24px;
        }

        @include mixins.tablet {
          &:last-child {
            grid-column: -1 / 1;
          }
        }

        @include mixins.mobile {
          padding: 20px;
        }
      }

      &-descr {
        margin-top: 4px;
        font-weight: 500;
        line-height: 1.5;
        color: var(--color-light);

        @include mixins.laptop {
          margin-top: 2px;
        }

        @include mixins.mobile {
          margin-top: 0;
        }
      }
    }
  }

  &__articles {
    display: grid;
    grid-template-columns: repeat(3, auto);

    @include mixins.tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include mixins.small-tablet {
      grid-template-columns: 1fr;
    }

    &-article {
      padding-block: 80px;
      padding-inline: 46px;

      @include mixins.laptop {
        padding-block: 60px;
        padding-inline: 30px;
      }

      @include mixins.small-tablet {
        padding-block: 40px;
        padding-inline: 0;
      }

      &:first-child {
        border-right: var(--border);
        padding-left: 0;

        @include mixins.small-tablet {
          border-right: none;
          border-bottom: var(--border);
        }
      }

      &:last-child {
        border-left: var(--border);
        padding-right: 0;

        @include mixins.tablet {
          grid-column: -1 / 1;
          border-top: var(--border);
          border-left: none;
          text-align: center;
        }

        @include mixins.small-tablet {
          text-align: start;
        }
      }
    }

    &-img {
      border-radius: 13px;
    }

    &-title {
      margin-bottom: 14px;
      font-weight: 600;
      line-height: 1.5;
      color: var(--color-light);

      @include mixins.laptop {
        margin-bottom: 10px;
      }
    }

    &-img,
    &-descr {
      margin-bottom: 30px;

      @include mixins.laptop {
        margin-bottom: 24px;
      }

      @include mixins.small-tablet {
        margin-bottom: 20px;
      }
    }

    &-btns {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr;

      @include mixins.laptop {
        gap: 10px;
      }
    }

    &-btn {
      text-align: center;

      &:last-child {
        background-color: var(--color-dark-10);
      }
    }
  }
}
